/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.student:hover
{
  background-color: #17a2b8;
  color:white;
  cursor: pointer;
}

.student-enter {
  opacity: 0.01;
}

.student-enter.student-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.student-leave {
  opacity: 1;
}

.student-leave.student-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}